<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DashboardServlet</servlet-name>
        <servlet-class>controller.DashboardServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DashboardServlet</servlet-name>
        <url-pattern>/dashboard</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>BookServlet</servlet-name>
        <servlet-class>controller.BookServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BookServlet</servlet-name>
        <url-pattern>/books</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>BookcopyServlet</servlet-name>
        <servlet-class>controller.BookcopyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BookcopyServlet</servlet-name>
        <url-pattern>/bookcopies</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>MemberServlet</servlet-name>
        <servlet-class>controller.MemberServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MemberServlet</servlet-name>
        <url-pattern>/members</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>StaffServlet</servlet-name>
        <servlet-class>controller.StaffServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StaffServlet</servlet-name>
        <url-pattern>/staffs</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>TransactionServlet</servlet-name>
        <servlet-class>controller.TransactionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TransactionServlet</servlet-name>
        <url-pattern>/loan</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>FineServlet</servlet-name>
        <servlet-class>controller.FineServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FineServlet</servlet-name>
        <url-pattern>/fines</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PublisherServlet</servlet-name>
        <servlet-class>controller.PublisherServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PublisherServlet</servlet-name>
        <url-pattern>/publishers</url-pattern>
    </servlet-mapping>
</web-app>
